@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\000036}}
.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000312}}
.main-section1, .main-section2, .main-section3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000317}}
.pagefooter, .pagefooter .pagefooter-col {
  display: flex;
  flex-direction: column;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000320}}
.mediabutton, .main-section2-item .curtain, .main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000325}}
.wrap, .main-section1, .main-section3, .pagefooter-row1-wrap {
  width: 1170px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000327}}
.main-section3-item {
  width: 23%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000329}}
.main-section2-item {
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000331}}
.pagefooter .pagefooter-col {
  width: 29%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_var\.sass}line{font-family:\0000333}}
.main-section1-item {
  width: 30%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\000033}}
body {
  font-family: "Raleway", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\000036}}
.wrap {
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000312}}
.logo {
  font-size: 32px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000317}}
.logo :first-child {
  font-weight: 900;
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000320}}
.button {
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: #E84545;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000328}}
.mediabutton {
  width: 37px;
  height: 37px;
  border-width: 1px;
  border-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000334}}
.media {
  display: flex;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000338}}
.pageheader {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000342}}
.pageheader-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000349}}
.pageheader-menu {
  width: 50.42735%;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.75;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000354}}
.pageheader-menu a {
  color: inherit;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000357}}
.pageheader-menu a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000359}}
.pageheader-main {
  padding: 5vw 9% 9vw;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000362}}
.pageheader-main-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000368}}
.pageheader-main-text {
  font-size: 22px;
  line-height: 1.5em;
  margin: 0 auto 4.5vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000372}}
.pageheader .button {
  padding: 16px 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000375}}
.main-section1 {
  margin: 6.4vw auto 2.8vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000379}}
.main-section1-item {
  margin: 0 1.6%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000383}}
.main-section1-item-img {
  height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000385}}
.main-section1-item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000390}}
.main-section1-item-text {
  font-size: 14px;
  color: #6C7279;
  margin: 22px 0 3.6vw;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\0000397}}
.main-section2-item {
  height: 350px;
  position: relative;
  display: flex;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003103}}
.main-section2-item img {
  width: 100%;
  object-fit: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003106}}
.main-section2-item .curtain {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.8);
  transform: translateY(0%);
  transition: transform 1s ease-in;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003116}}
.main-section2-item .curtain a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003122}}
.main-section2-item .curtain a:hover {
  border-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003124}}
.main-section2-item .curtain-title {
  text-transform: uppercase;
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003127}}
.main-section2-item .curtain-explain {
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003129}}
.main-section2-item:hover .curtain {
  transform: translateY(100%);
  transition: transform 1s ease-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003132}}
.main-section3 {
  margin: 4.9vw auto 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003138}}
.main-section3-item img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003140}}
.main-section3-item .name {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003144}}
.main-section3-item .position {
  font-size: 13px;
  color: #E84545;
  text-transform: uppercase;
  margin: 12px 0 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003149}}
.main-section3-item .item-text {
  font-size: 14px;
  color: #6C7279;
  line-height: 1.5em;
  margin-bottom: 1.3vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003154}}
.main-section3-item .mediabutton {
  margin-right: 3px;
  border-color: #E8ECEE;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003157}}
.main-footer {
  margin: 6.1vw auto 5.1vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003160}}
.main-footer-title {
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 14px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003165}}
.main-footer-text {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 auto 1.9vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003169}}
.main-footer .button {
  padding: 16px 82px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003174}}
.pagefooter-row1 {
  background-color: #3A3E64;
  padding: 2.9vw 0 4.8vw;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003177}}
.pagefooter-row1-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003183}}
.pagefooter-row2 {
  display: flex;
  justify-content: center;
  background-color: #313454;
  padding: 1.4vw 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003188}}
.pagefooter-row2 .copyright {
  font-size: 14px;
  color: #7C7C7E;
  text-align: center;
  margin: 1px auto 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003193}}
.pagefooter-row2 .copyright .red {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003195}}
.pagefooter-row2 .copyright .white {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003197}}
.pagefooter .pagefooter-col {
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003201}}
.pagefooter .pagefooter-col-title {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003205}}
.pagefooter .pagefooter-col-text {
  font-size: 13px;
  color: #8688A0;
  text-align: center;
  margin-top: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/style\.sass}line{font-family:\00003210}}
.pagefooter .mediabutton {
  margin-top: 10px;
  margin-right: 7px;
  border-color: white;
}

@media (max-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\000032}}
  .wrap, .main-section1, .main-section3, .pagefooter-row1-wrap {
    width: 800px;
  }
}
@media (max-width: 850px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\000036}}
  .wrap, .main-section1, .main-section3, .pagefooter-row1-wrap {
    width: 90%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\000038}}
  .main-section3-item {
    width: 45%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000310}}
  .main-section2-item {
    width: 50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000312}}
  .pagefooter .pagefooter-col {
    width: 29%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000314}}
  .main-section1-item {
    width: 30%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000316}}
  .pageheader-menu {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000318}}
  .pageheader-menu .menu {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 520px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000322}}
  .main-section3-item {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000324}}
  .main-section2-item {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000326}}
  .pagefooter .pagefooter-col {
    width: 45%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000328}}
  .main-section1-item {
    width: 45%;
  }
}
@media (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000331}}
  .pageheader-main-title {
    font-size: 45px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/GIT\%20repository\/2019-06-ActiveBox\/2019-06-ActiveBox\/sass\/_media\.sass}line{font-family:\0000333}}
  .logo {
    font-size: 28px;
  }
}
